html {
    background-color: rgb(222,235,247);
}
body {
  min-width: 900px;
  max-width: 1100px;
  margin: 30px auto;
  padding: 50px 50px 10px 50px;
  border: solid 4px rgb(248,203,173);
  border-radius: 20px;
  background-color: rgb(218,244,200);
  font-size: 20px;
  font-family:"Nunito", "Arial";
}
header {
  float: left;
  width: 100%;
  font-size: 30px;
  background-color: black;
  border:solid 4px green;
  border-radius: 10px;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}
header nav ul li {
  float: left;
  position: relative;
  right: 50%;
}
header nav ul li a {
  padding: 10px 25px;
	display: block;
	text-decoration: none;
	color: #ccc;
  border:solid 4px black;
}
header nav ul li a:hover {
  background-color: #ccc;
	color: black;
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-size: 50px;
  margin: 100px auto 30px;
  font-weight: 600;
}
#sum_hb {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
h2 {
  color: rgb(240,124,124);
  font-size: 30px;
  font-weight: 600;
}
section {
  min-width: 800px;
  max-width: 1050px;
  margin:10px auto 10px;
  padding:20px;
  border: solid 4px rgb(189,215,238);
  border-radius: 15px;
  background-color: rgb(248,203,173);
}
strong {
  font-weight: 600;
}
#game strong {
  font-size: 25px;
}
img, iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
  width:80%;
}
#pic_dsn {
  display: flex;
  justify-content: center;
}
#pic_dsn img {
  width: 45%;
  margin: 10px;
}
a {
  color: rgb(134,51,157);
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: red;
}
.resume_block h2 {
  padding-bottom: 20px;
}
.resume_block div {
  background-color: rgb(218,244,200);
  width: 300px;
  height:95px;
  margin: 5px;
  padding: 10px; 
  border: solid 2px rgb(218,244,200);
  border-radius: 15px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.leftfex {
  clear: left;
  float: left;
  position: relative;
  left: 10%;
}
.rightfex {
  clear: right;
  float: right;
  position: relative;
  right: 10%;
}
.resume_block img {
  border-radius: 50%;
  width: 30%;
}
.resume_block::after {
  content: ' ';
  display: block;
  clear: both;
}
p {
  margin:10px;
}
footer {
  text-align: center;
  margin: 50px auto 5px;
}



